aiohttp
aiofiles
asyncio
cryptography
dnspython
ffmpeg-python
future
gitpython
pyrogram==2.0.106
hurry.filesize
heroku3
motor
pillow
psutil
python-dotenv
pyromod
py-tgcalls==0.9.2
requests
search-engine-parser
tgcrypto
uvloop
wget
youtube-search-python
youtube-search
git+https://github.com/yt-dlp/yt-dlp.git
telegraph
regex
html5lib
